body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #83a572;
    background-image: url('../img/Fundo2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    background: transparent;
    padding: 20px;
    width: 350px;
    position: relative;
}

.title {
    color: #1f362b;
    font-size: 40px;
    font-weight: bold;
}

.instruction{
    font-size: 16px;
    color: #1f362b;
    font-weight: bold;
    margin-bottom: 14px;
    margin-right:160px;
    margin-top: 2px;    
    font-size: 12px;
}



.name-input {
    width: 100%;
    padding: 15px;
    border: 2px solid #1f362b;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(0, 128, 0, 0.2);
    text-align: left;
    color: #23423d;
}

.email-input {
    width: 100%;
    padding: 15px;
    border: 2px solid #1f362b;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(0, 128, 0, 0.2);
    text-align: left;
    color: #23423d;
}

.title {
    color: #1f362b;
    font-size: 40px;
    font-weight: bold;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #1f362b;
    margin-bottom: 4px; 
}

input, select, textarea {
    margin-bottom: 16px; 
}
#birthdate {
    width: 100%;
    padding: 15px;
    border: 2px solid #23423d;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(0, 128, 0, 0.2);
    text-align: left;
    color: #23423d;
}

#Senha{
    width: 100%;
    padding: 15px;
    border: 2px solid #23423d;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(0, 128, 0, 0.2);
    text-align: left;
    color: #23423d;
}
 
#ConfirmSenha{
    width: 100%;
    padding: 15px;
    border: 2px solid #23423d;
    border-radius: 25px;
    font-size: 16px;
    background: rgba(0, 128, 0, 0.2);
    text-align: left;
    color: #23423d;
}


.checkbox-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    margin-top: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center; 
    /* font-weight: bold; */
    color: #1f362b;
    margin-bottom: 4px;
    line-height: 1; 
    max-width: 300px;
    flex-wrap: wrap;
}

.check{
    border-radius: 50%;
    vertical-align: middle;
    flex-shrink: 0;
    appearance: none;
    border-radius: 50%;
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #fff;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    margin-top: 2px;
}

.check::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: 0.125s transform ease-in-out;
    box-shadow: inset 1rem 1rem #fff;
}

.check:checked{
    
    background-color: #83a572;
    border-color: #83a572;
}

.check:checked::before{
    transform: translate(-50%, -50%) scale(1);
}

.check:disabled{
    opacity: 0.25;
}

.check:focus{
    border-color: #23423d;
}


.button {
    background: transparent;
    color: #23423d;
    padding: 10px;
    border: 2px solid #23423d;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
}

.button:hover {
    background: #4c8b54;
    color: white;
}



.facebook {
    width: 40px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.2s ease;
    margin-bottom: 40px;
}

.google {
    width: 40px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.2s ease;
    margin-bottom: 40px;
}

.google:hover,
.facebook:hover {
    transform: scale(1.1);
    cursor: pointer;
}