* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    color: #23423d;
    font-size: 15px;
    padding-bottom: 100px;
}

img {
    width: 200px;
    height: auto;

}

.google{
    width: 100px;
}

.facebook{
    width: 80px;
    padding-bottom: 15px;
}
.Login {
    /* display: flex; */
    /* align-items: center; */
    gap: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.Login a {
    font-size: 10px;
    color: #46665f;
    text-decoration: none;
}

.Login a:hover {
    color: #6fc273; 
}

body,
html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #83a572;
    background-image: url('../img/Fundo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    border: #46665f;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
}

input {
    padding: 10px;
    display: flex;
    border-radius: 60px;
    border: 2px solid #c1ff72;
    outline: none;
    background-color: #6fc273;
    font-size: 20px;
}

label {
    top: 10px;
    left: 50px;
    background-color: transparent;
    padding: 25px;
    color: #46665f;
    font-weight: bold;
    font-size: 16px;
}

.links {
    display: flex;
    gap: 15px; /* Espaçamento automático entre links */
}

a {
    font-size: 11px;
    color: #46665f;
    text-decoration: none;
    font-weight: bold;
    padding: 23px;
    padding-top: 1px;
}